In [1]:
import pandas

In [13]:
import requests
url = "https://raw.githubusercontent.com/andywaltlova/python-1-podzim-2022/master/ukoly/data/adopce-zvirat.csv"
r = requests.get(url, allow_redirects=True, verify=False)
open("adopce-zvirat.csv", "wb").write(r.content)

/opt/homebrew/lib/python3.10/site-packages/urllib3/connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'raw.githubusercontent.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

30578

In [58]:
adopce_dataset=pandas.read_csv("adopce-zvirat.csv", sep=";")

Info o tabulce

In [57]:
adopce_dataset.head()

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1

In [18]:
adopce_dataset.info()
adopce_dataset.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           513 non-null    int64
 1   nazev_cz     513 non-null    object
 2   nazev_en     513 non-null    object
 3   trida_cz     513 non-null    object
 4   cena         513 non-null    int64
 5   k_prohlidce  513 non-null    int64
dtypes: int64(3), object(3)
memory usage: 24.2+ KB

(513, 6)

Zvíře s indexem 34

In [22]:
adopce_dataset.iloc[34:35,1:3]

     nazev_cz    nazev_en
34  Ibis bílý  White ibis

Bonus

In [26]:
adopce_index_cz=pandas.read_csv("adopce-zvirat.csv", sep=";", index_col="nazev_cz")
adopce_index_cz

,id,nazev_en,trida_cz,cena,k_prohlidce
nazev_cz,,,,,
Šváb syčivý,7,Madagascar giant cockroach,Bezobratlí,1000,1
Pakobylka okřídlená,8,Pink-winged stick insect,Bezobratlí,1000,1
Tayra,16,Tayra,Savci,5000,1
Kajmanka supí,35,Alligator snapping turtle,Plazi,2000,1
Želva žlutočelá,37,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...
Rosnice šalamounská,1417,,Obojživelníci,1000,1
Létavka obecná,1418,,Obojživelníci,1000,1
Bažant paví,1419,,Ptáci,1000,1
Sojkovec rezavouchý,1420,,Ptáci,1000,1
Kachnice kaštanová,1421,,Ptáci,1000,1

In [27]:
adopce_index_cz.index.is_unique

True

seřazení podle cz indexu

In [29]:
adopce_index_cz=adopce_index_cz.sort_index()
adopce_index_cz.head()

                      id              nazev_en    trida_cz  cena  k_prohlidce
nazev_cz
Achatina žravá       621   Giant African snail  Bezobratlí  1000            1
Adax                 402                 Addax       Savci  5000            1
Agama stepní        1214          Steppe agama       Plazi  1000            1
Agama turkestánská  1215  Turkestan rock agama       Plazi  1500            1
Agamka písečná      1233     Toad-headed agama       Plazi  1500            1

"Outloň váhavý"

In [53]:
#print(adopce_index_cz[adopce_index_cz.nazev_en=="Sunda slow loris"])
adopce_index_cz.loc["Outloň váhavý"]

id                          749
nazev_en       Sunda slow loris
trida_cz                  Savci
cena                       2000
k_prohlidce                   1
Name: Outloň váhavý, dtype: object

želvy

In [60]:
adopce_index_cz.loc["Želva Smithova":"Želva žlutočelá"]

,id,nazev_en,trida_cz,cena,k_prohlidce
nazev_cz,,,,,
Želva Smithova,1117,Brown roof turtle,Plazi,1000,1
Želva amboinská,479,Malayan box turtle,Plazi,1000,1
Želva annámská,478,Vietnamese pond turtle,Plazi,1000,1
Želva bahenní,1115,European pond turtle,Plazi,1000,1
Želva dlaždicovitá,1338,Impressed tortoise,Plazi,3000,1
Želva egyptská,980,Egyptian tortoise,Plazi,1000,1
Želva hvězdnatá,1412,,Plazi,1500,1
Želva korunkatá,1112,Crowned river turtle,Plazi,2000,1
Želva kubánská,830,North Antillean slider,Plazi,1000,1
Želva obrovská,40,Aldabra giant tortoise,Plazi,5000,1
Želva ostnitá,1255,Spiny turtle,Plazi,2000,1
Želva pardálí,763,Leopard tortoise,Plazi,2000,1
Želva plochohřbetá,987,Malayan flat-shelled turtle,Plazi,2000,1
Želva skalní,41,Pancake tortoise,Plazi,1000,1
Želva sloní,39,Galapagos tortoise,Plazi,5000,1
Želva stepní (= čtyřprstá),38,Russian tortoise,Plazi,1500,1
Želva texaská (= Berlandierova),1096,Texas tortoise,Plazi,1000,1
Želva tlustohrdlá,772,Malaysian black mud turtle,Plazi,1000,1
Želva tuniská,1160,Tunisian spur-thighed tortoise,Plazi,1000,1
Želva zubatá,771,Asian leaf turtle,Plazi,1000,1
Želva černavá,673,Giant Asian pond turtle,Plazi,2000,1
Želva žlutočelá,37,Indochinese box turtle,Plazi,1000,1